.card {
  background-color: white;
  border-radius: 8px;
}

.card > img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card .caption {
  padding: 20px;
}

.card .card-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.price p span {
  font-weight: 600;
  color: var(--gray);
  text-decoration: line-through;
}