.header {
  background-color: white;
  padding: 20px 0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  width: 264px;
}

.header .session {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 36px;
}

.header .session a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}